table {
  border-collapse: collapse;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  text-align: center;
  font-size: 10px;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.obstacle {
  background-color: black;
}

.path {
  background-color: orange;
}

.visited {
  background-color: lightgray;
}

.visible {
  background-color: gray; /* Измените цвет фона на необходимый */
}